# *Theory questions*

***Q1) What are the data structures, and why are the important ?***
  - Data structures are fundamental ways to organize and store data for efficient access and manipulation,
    and they are crucial in computer science because they enable the creation of efficient algorithms and programs.

***Q2) Explain the difference between mutable and immutable data type with example .***
  - objects/container whose state or value can be changed after they are created are called as mutable objects or container list is a type of mutable object/supports item assignment.
  - objects/container whose state or value can not be changed after they are created are called as immutable objects or container, string is a type of immutable object/ doesn't supports item assignment

In [2]:
#mutable and immutable example
list_cont = [1, 2, 3, 4.3, 3+5j, True, "Ajay"]
list_cont
list_cont[6] = "Bijay"

b = "pwskills"
b
b[0] = "I" #this will throw error

TypeError: 'str' object does not support item assignment

***Q3) What are the main difference between lists and tuple in Python ?***
  - The primary difference between lists and tuples in Python is their mutability: lists are mutable (can be changed after creation), while tuples are immutable (cannot be changed after creation).

***Q4) Describe how dictionaries store data ?***
  - Python's efficient key/value hash table structure is called a "dict". The contents of a dict can be written as a series of key:value pairs within braces { }, e.g. dict = {key1:value1, key2:value2, ... }. The "empty dict" is just an empty pair of curly braces {}.

***Q5) Why might you use a set instead of a list in Python ?***
  - Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections

***Q6) What is a string in Python and how is it different from a lists ?***
  - A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

**Q7) How do tuples ensure data integrity in Python ?**
  - Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

***Q8) What is the hash table , and how does it relate to dictionaries in Python ?***
  - What is a Hash Table?
  
    - A hash table is a data structure that stores key-value pairs, where each key is mapped to a specific value using a hash function.
The hash function takes a key as input and produces an index (or hash code) into an array (the hash table) where the corresponding value is stored.
This allows for very fast lookups, insertions, and deletions of data, as the position of a value can be determined directly from its key using the hash function.

- How Dictionaries Relate to Hash Tables in Python:
  -
In Python, dictionaries are implemented using hash tables (or hash maps).
When you create a dictionary in Python, you are essentially creating a hash table, where the keys are the keys of the hash table, and the values are the values stored in the hash table.
Python uses a hash function to determine the location of a key-value pair within the hash table, allowing for efficient access to the values associated with the keys.
The keys in a Python dictionary must be hashable, meaning they must have a hash value that does not change during their lifetime.

***Q9) Can lists contain different data types in Python ?***
  - A list can also contain a mix of Python types including strings, floats, and booleans.

In [4]:
#example
list_cont = [1, 2, 3, 4.3, 3+5j, True, "Ajay"]
list_cont

[1, 2, 3, 4.3, (3+5j), True, 'Ajay']

***Q10) Expalin why strings are immutable in Python ?***
  - Python strings are "immutable" which means they cannot be changed after they are created (Java strings also use this immutable style). Since strings can't be changed, we construct *new* strings as we go to represent computed values.

***Q11) What advantages do dictionaries offer over lists for certain task ?***
  - Advantages of Dictionaries:
    - Fast Data Retrieval:
Dictionaries use hash tables, allowing for near-instantaneous access to values based on their keys, unlike lists where you need to traverse through each element.
    - Key-Value Pair Structure:
Dictionaries store data as key-value pairs, making it easy to associate and retrieve related data.
    - Mapping Relationships:
Dictionaries are ideal for representing and managing relationships between items, where one item (the key) corresponds to another (the value).
    - Dynamic Data Structure:
Dictionaries are mutable, allowing you to add, update, or remove key-value pairs as needed.
    - Built-in Methods:
Python dictionaries offer various built-in methods for easy data manipulation and iteration, such as get(), keys(), values(), and items().
Efficient for Large Datasets:
Due to efficient data retrieval, dictionaries are well-suited for storing and accessing large datasets quickly.

***Q12) Describe a scenario where using a tuple would be preferable over a lists ?***
  -  Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

***Q13) How do sets handle dublicate value in Python ?***
   - Sets are used to store multiple items in a single variable.

   - Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

   - A set is a collection which is unordered, unchangeable*, and unindexed.
   - Sets cannot have two items with the same value.

In [5]:
#example
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

***Q15) Can you modify the elment of a tuple ? Explain why or why not ?***
  -   No, you cannot directly modify the elements of a tuple in Python because tuples are immutable, meaning their contents cannot be changed after creation.
  - Here's why:
   - Immutability: Tuples are designed to be a fixed, ordered collection of elements, ensuring data integrity.
   - Data Integrity: By making tuples immutable, Python avoids potential issues that could arise from accidental or unintended modifications.
   - Hashability: Immutability is also crucial for tuples to be used as keys in dictionaries, as dictionaries require hashable keys.
   - Alternative: If you need a mutable sequence, you should use a list instead.

In [7]:
#example
my_tuple = (1, 2, 3)
    # Attempting to modify a tuple element will raise a TypeError
my_tuple[0] = 4  # This will cause an error

TypeError: 'tuple' object does not support item assignment

***Q16) What is a nested dictionaries and given an example of its use cases ?***
   - A nested dictionary in Python is a dictionary where the values are themselves dictionaries, creating a hierarchical or multi-level data structure. Use cases include representing complex data structures like organizational charts, inventory systems, or JSON data.

In [10]:
    # Example of a nested dictionary representing employee data
    employees = {
        "department1": {
            "employee1": {"name": "Alice", "id": 123},
            "employee2": {"name": "Bob", "id": 456}},
        "department2": {"employee3": {"name": "Charlie", "id": 789 } }}

***Q17) Describe the time complexity of accsessing element in a dictionary ?***
   - The time complexity of dictionary operations in Python depends on the size of the dictionary and the specific operation being performed. Here's a summary of the time complexity of some common dictionary operations: Accessing a value by key: O(1) on average, O(n) worst case if there are many collisions.

***Q18) In what situation are lists preferred over dictionaries ?***
   - A dictionary has several advantages over a list especially in python. Dictionarys have two parts to every entry the key and the value and these are stored as pairs. This can give you more flexibility when storing data. The primary advantage would be retrieving stored values as it is much simpler to search through a dictionary.If the data your trying to store is identifiable so the data can be attributed to name name or item this might be a preferable system. One example would be storing the age of school students. You could store the age and name as a value and key pair. This would allow you to sort the dictionary for a particular student and retrieve their age. To do this with lists you would require two lists to search through or a very complicated indexing systems.

Q19) ***Why are dictionaries considered unordered , and how does that affect data retrival ?***
  - Dictionaries are considered unordered because they store data as key-value pairs, and the order in which these pairs are inserted doesn't affect how they are stored or retrieved; accessing data relies on keys, not position.

***Q20) Explain the difference between a list and dictionary in term of data retrival .***
  - A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys

# ***Practical questions***

***Q1) Write a code to create a string with your name and print it .***

In [11]:
name = "anamika"
print(name)

anamika

*Q2) Write a code to find the length of the string "hello world".*

In [17]:
name = "hello world"
len_name = len(name)
print(len_name)

11

***Q3) Write a code to slice the first 3 charecters from the string "Python programming"***

In [19]:
s = "Python programming"
print(s[0:3])

Pyt

***Q4) Write a code to convert the string "hello" to uppercase.***

In [23]:
I = "hello"
print(I.upper())

HELLO

***Q5) Write a code to replace the word "apple" with "orange" in the string "I like apple".***

In [25]:
original = "I like apple"
new_text = original.replace('apple', 'orange')
print(new_text)

I like orange

***Q6) Write a code to create a list with numbers 1 to 5 and print it.***

In [26]:
#Creating a list of numbers from 1 to 5
numbers = []
for i in range(1, 6):
    numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5]

***Q7) Write a code to append a number 10 to the list [1,2,3,4]***

In [30]:
A = [1,2,3,4]
A.append(10)
print (A)

[1, 2, 3, 4, 10]

***Q8)Write a code to remove the number 3 from the list [1,2,3,4,5]***

In [32]:
A = [1,2,3,4,5]
A.remove(3)
print(A)

[1, 2, 4, 5]

***Q9) Write a code to access the second element in the list ['a','b','c','d'].***

In [34]:
I = ['a','b','c','d']
I[1]
print(I[1])

b

***Q10) Write a code reverse the list [10,20,30,40,50].***

In [37]:
I = [10,20,30,40,50]
I.reverse()
print(I)

[50, 40, 30, 20, 10]

***Q11) Write a code to create a tuple with the elements 100,200,300 and print it.***

In [41]:
I = [100,200,300]
type_tuple = tuple(I)
print(type_tuple)

(100, 200, 300)

***Q12) Write a code to access the second to last elememnt of the tuple ('red','green','blue','yellow').***

In [42]:
colour = ('red','green','blue','yellow')
print(colour[-2])

blue

***Q13) Write a code to find the minimum number in the tuple (10,20,5,15)***

In [43]:
set = (10,20,5,15)
print(min(set))

5

***Q14) Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit')***

In [44]:
animal = ('dog','cat','rabbit')
print(animal.index('cat'))

1

***Q15) Write a code to create a tuple containing three different fruits and checks if "kiwi" is in it.***

In [45]:
fruits = ('apple','banana','orange')
print('kiwi' in fruits)

False

***Q16) Write a code to create a set with the element 'a','b','c' and print it .***

In [46]:
#create a set of string type
set = ('a','b','c')
print(set)

('a', 'b', 'c')

***Q17) Write a code to clear all elements from the set {1,2,3,4,5}.***

In [47]:
set = {1,2,3,4,5}
set.clear()
print(set)

set()

***Q18) Write a code to remove the element 4 from the set {1,2,3,4}.***

In [48]:
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

***Q19) Write a code to find the union of the two sets {1,2,3} and {2,3,4}***

In [57]:
A = {1,2,3}
B = {2,3,4}
set_union = set.union(A,B)
print(set_union)

{1, 2, 3, 4}

***Q20) Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.***

In [58]:
A = {1,2,3}
B = {2,3,4}
set_intersection = set.intersection(A,B)
print(set_intersection)

{2, 3}

***Q21) Write a code to create a dictionary with the keys "name", "age", and "city" and print it.***

In [59]:
data = {"name": "anamika", "age": 30, "city": "delhi"}
print(data)

{'name': 'anamika', 'age': 30, 'city': 'delhi'}

*Q22) Write a code to add a new key -value pair "country", "USA", to the dictionary {'name':,'john','age':,25}*

In [60]:
#add new key_value
data = {'name': 'john', 'age': 25}
data['country'] = 'USA'
print(data)

{'name': 'john', 'age': 25, 'country': 'USA'}

***Q23) Write a code to access the value associated with the key "name" in the dictionary {'name':,'Alice','age':30}.***

In [61]:
#access the value associated with key
data = {'name': 'Alice', 'age': 30}
print(data['name'])

Alice

*Q24) Write a code to remove the key "age" from the dictionary {'name':Bob,'age':22,'city':'new york'}*

In [62]:
#remove the key "age"
data = {'name': 'Bob', 'age': 22, 'city': 'new york'}
del data['age']
print(data)

{'name': 'Bob', 'city': 'new york'}

***Q25) write a code to check if the key "city" exixts in the dictionary {'name':'Alice','city':'paris'}***

In [63]:
#check exist key
data = {'name':'Alice','city':'paris'}
print('city' in data)

True

***Q26) Write a code to create a list, a tuple, and a dictionary , and print them all. ***

In [64]:
#create a list,tuple and disctionary
list = [1,2,'data',]
tuple = (1,2,3,4)
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(list)
print(tuple)
print(thisdict)

[1, 2, 'data']
(1, 2, 3, 4)
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

***Q27) Write a code to create  a list of 5 random numbers between 1 and 100 , sort it in ascending order, and print the result (replaced).***

In [66]:
#ascending order
set = [4,20,8,10,15]
set.sort()
print(set)

[4, 8, 10, 15, 20]

***Q28) Write a code to create a list with strings and print the element at the third index.***

In [69]:
list_data = ["happy,'pwskill","learning", "data science"]
#list_index(3)  # This line is not valid Python.  list_index is not a function.
print(list_data[2]) # Assuming you want to access the 3rd element (index 2).

data science

***Q29) Write a code to combine two dictionaries into one and print the result.***

In [71]:
dict_1 = {1: 'a', 2: 'b'}
dict_2 = {2: 'c', 4: 'd'}

print(dict_1 | dict_2)

{1: 'a', 2: 'c', 4: 'd'}

***Q30) Write a code to convert a list of string into a set.***

In [91]:
string = 'World!'
my_set = {'Hello'}
my_set.update(string)

print(type(string))
print(my_set)
print(type(my_set))

<class 'str'>
{'!', 'Hello', 'o', 'd', 'l', 'W', 'r'}
<class 'set'>